// Variables
$primary: #1877f2;
$secondary: #5890ff;
$tersier: #426792;
$white: #fff;
$second-white: #f6f7f8;

// Styles
// All Version (MOBILE)
body {
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 400;
  section {
    padding-top: 6rem;
  }
}

// Navbar
.my-navbar {
  .container {
    // Sticth Name
    .sticth-brand-name {
      background: linear-gradient(to right, $secondary 0%, $primary 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Lexend", sans-serif;
      font-weight: 600;
      font-size: 29px;
    }

    .nav-link {
      margin-right: 30px;
      font-size: 18px;
    }

    .tombol {
      border-radius: 8px;
    }
  }
}
// Jumbotron
.jumbotron {
  background-color: $second-white;
  h1 {
    font-weight: 400;
    padding-top: 5rem;
    text-shadow: 1px 1px 0.5px #000;
    span {
      font-weight: 600;
    }
  }
}

// Footer
.copyright {
  margin-top: 5rem;
  font-size: 15px;
  color: grey;
}

// Desktop Version
@media (min-width: 992px) {
  // Navbar
  .my-navbar {
    .nav-link:hover::after {
      content: "";
      display: block;
      border-bottom: 3px solid $secondary;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
    }
  }
  // Jumbotron
  .jumbotron {
    h1 {
      padding-top: 10rem;
    }
  }
}
