// Variables
$primary: #1877f2;
$secondary: #5890ff;
$tersier: #426792;
$white: #fff;
$second-white: #f6f7f8;

// Styles
// All Version (MOBILE)
body {
  font-family: "Lexend", sans-serif;
  font-weight: normal;
}

.kiri {
  order: 3;
}

.kanan {
  order: 2;
}

::-webkit-scrollbar {
  width: 10px;
}

.user-messages {
  color: gray;
  text-decoration: none;
}

.user-image-profile {
  border-radius: 4px;
}

// Navbar
.my-navbar {
  background-color: $primary;
  .container {
    // Sticth Name
    .sticth-brand-name {
      font-family: "Lexend", sans-serif;
      font-weight: 600;
      font-size: 29px;
    }
    .nav-link {
      font-size: 18px;
    }
  }
}

// USer NAvbar
.user-profile-icon {
  margin-left: 1rem;
  margin-top: 1rem;
}

.search-icon {
  color: $white;
}

// Desktop Only
@media (min-width: 900px) {
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid $second-white;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .user-profile-icon {
    margin-left: 3.5rem;
    margin-top: 1.5rem;
    background-color: $secondary;
  }

  .kiri {
    order: 1;
  }

  .kanan {
    order: 3;
  }
}
