<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Icon -->
    <link rel="shortcut icon" href="../img/Logo.png" />

    <!-- My Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap" rel="stylesheet" />
    <link href="https://api.fontshare.com/css?f[]=satoshi@300,400,700&display=swap" rel="stylesheet" />
    <!-- font-family: 'Satoshi', sans-serif; -->

    <!-- Bootsrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- My CSS -->
    <link rel="stylesheet" href="/scss/login/login.css" />

    <title>Login to Sticth</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 kiri"></div>
        <div class="col-md-6 kanan">
          <img src="../img/Logo.png" alt="Sticth" width="75" class="ms-3 logo-sticth" />
          <h1 class="ms-4">Hi,how are you ?</h1>
          <h2 class="mt-5">join Sticth now.</h2>
          <a href="signup.html" class="btn btn-primary tombol tombol-1 mt-3 ms-4">Sign up</a>
          <a href="login.html" class="btn btn-primary tombol tombol-2 mt-3 ms-4 mb-3">Log in</a>
        </div>
      </div>
      <div class="row text-center mt-4">
        <div class="col copyright">© 2021 Sticth, Inc.</div>
      </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
